WG_INTERFACE=wg0
WG_ADDRESS=10.8.0.1/22
WG_NETWORK=10.8.0.0/22
WG_LISTEN_PORT=51820
WG_MASQUERADE_INTERFACE=eth0
WG_PEER_COUNT=1000
WG_ENDPOINT=REPLACE_WITH_VM_PUBLIC_IP_OR_DNS
WG_CLIENT_DNS=1.1.1.1,1.0.0.1
WG_ALLOWED_IPS=0.0.0.0/0,::/0
WG_PERSISTENT_KEEPALIVE=25
WG_PEER_STATUS=available
